.heading-category{
     
     margin: auto
}
.filterSize span{
     text-transform: capitalize;
}

.fillerBoxMain select{
     width: 100%;
     border: none;
     border-bottom: 1px solid #ccc;
     margin: 2px;
}
.productCategoryGridWrapper > div{

     /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.productCategoryGridWrapper > div:hover{
     opacity: 0.8;
}
.productCategoryGridWrapper{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     width: 100%;
     gap: 10px;
     position: relative;
     right: 0;
     top: .5%;
     overflow: auto;
     margin-bottom: 2%;


}

.heading-path-product ul a{
     font-size: 12px;
}

.categoriesWrapperHelper{
     display: grid;
     grid-template-columns: 300px 65%;
     justify-content: space-around;
     gap: 20px;

}
.sortPrice{
     padding: 10px;
     position: relative;
     right: -72%;
     border: none;
     border-bottom: 1px solid #ccc;
}
.categoryGridWrapper{
     margin: 4.5% 0;
}